<div class="details">
    <div class="career-banner">
      <img
        class="career-banner-img"
        src="{{ career.background_image }}"
        alt="background image"
      />
    </div>
    <div class="career-content">
      <div class="details-wrapper">
        <div class="career-header">
          <h1 class="career-header-title">{{ career.name }}</h1>
          <h2 class="career-header-release-date">
            Release: {{ career.released | date }}
          </h2>
          <p class="career-header-genres">
            <span *ngFor="let x of career.genres; let last = last"
            >{{ x.name }}<span ng*If="!last">, </span></span
          >
          </p>
          <div class="career-gauge">
            <mwl-gauge
              class="two"
              [max]="100"
              [dialStartAngle]="100"
              [dialEndAngle]="0"
              [value]="gameRating"
              [animated]="true"
              [color]="getColor"
              [animationDuration]="2"
            >
            </mwl-gauge>
            <a href="{{ career.metacritic_url }}" 
               class="game-gauge-label"
               target="_blank" 
               >Rating</a>
          </div>
        </div>
        <!-- tabs will be placed here -->
      </div>
    </div>
</div>